.header {
  .logo {
    a {
      color: $mainColor;
    }
  }
  .cart-icon {
    border: 1px solid $mainColor;
    background: $grayColor;
    color: $mainColor;
    padding: 4px 11px;
    cursor: pointer;
    font-size: 22px;
    position: relative;
    transition: all 0.2s;
    &:hover {
      color: #fff;
      background: $mainColor;
    }
  }
  .cart-value {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 12px;
    background: $mainColor;
    color: #fff;
    min-width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
  }
}
